apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ kubeconfig_ca_cert | b64encode }}
    server: {{ kubeconfig_server }}
  name: kubernetes-the-hard-way
contexts:
- context:
    cluster: kubernetes-the-hard-way
    user: {{ kubeconfig_user }}
  name: default
current-context: default
preferences: {}
users:
- name: {{ kubeconfig_user }}
  user:
    client-certificate-data: {{ kubeconfig_user_cert | b64encode }}
    client-key-data: {{ kubeconfig_user_key | b64encode }}
